In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/cognibot-official/data/master/train_data.csv")

In [3]:
df.head()

   cement  blast  flyash  water    sp      ca     fa  age  strength
0   382.0    0.0     0.0  186.0   0.0  1047.0  739.0    7     24.00
1   310.0  142.8     0.0  167.9  10.0   914.3  804.0   28     45.30
2   310.0    0.0     0.0  192.0   0.0  1012.0  830.0   90     35.76
3   475.0  118.8     0.0  181.1   8.9   852.1  781.5   91     74.19
4   385.0    0.0     0.0  186.0   0.0   966.0  763.0    3     14.70

In [4]:
y = df["strength"]
X = df.drop("strength", axis=1)

In [5]:
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [6]:
scale = StandardScaler()

In [7]:
scale.fit(x_train)
x_train_scaled = pd.DataFrame(scale.transform(x_train), columns=x_train.columns)
x_train_scaled.index = x_train.index

In [8]:
x_train_scaled.head()

,cement,blast,flyash,water,sp,ca,fa,age
450,0.462109,-0.891445,-0.791729,0.526445,-1.038666,0.688582,0.551191,1.170744
357,-0.962864,-0.891445,1.817100,-0.531282,0.217374,1.076834,0.018852,-0.659387
380,0.763106,1.221528,-0.791729,-0.753215,0.878447,-0.330265,-0.252247,-0.596819
145,-1.128603,-0.891445,2.332617,0.007026,1.109823,-1.544506,0.859257,-0.268333
212,0.690714,-0.679030,0.723579,-1.692892,1.126350,-0.047322,1.167324,-0.268333

In [9]:
x_test_scaled = pd.DataFrame(scale.transform(x_test), columns=x_test.columns)
x_test_scaled.index = x_test.index

In [10]:
x_test_scaled.head()

,cement,blast,flyash,water,sp,ca,fa,age
259,-0.836179,-0.891445,0.778255,-0.502950,0.200847,0.346006,1.546861,-0.659387
658,-1.319108,1.009112,1.285961,0.526445,0.283481,-1.988586,0.354028,-0.268333
77,0.014423,-0.723749,1.410935,-0.087414,-0.129690,-1.633322,0.304738,-0.659387
65,-1.423885,1.456302,-0.791729,0.715325,-0.542861,-0.275706,0.230802,-0.268333
81,-0.502796,-0.891445,1.054760,0.677549,-0.030529,0.727915,-0.230066,0.169647